body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgba(228,255,214,1) 0%, rgba(149,213,201,0.82) 30%, 
    rgba(250,214,247,0.63) 63%, rgba(255,164,185,0.5) 85%, rgba(255,164,185,0.41) 100%);
}

h4,h5{
  font-family: 'Lobster', cursive;
}

#images{
    width:120px;
}
img,#container-img-save{
   box-sizing: border-box;
   width: 121.5px;
   height: 110px;
   padding-left: 15px;
   padding: 3.5px;
}
#container1{
   box-sizing: border-box;
   background: white;
   background: linear-gradient(to right, rgba(228,255,214,1) 0%, rgba(149,213,201,0.82) 30%, 
    rgba(250,214,247,0.63) 63%, rgba(255,164,185,0.5) 85%, rgba(255,164,185,0.41) 100%);
   border:2px double #c74375;
   border-radius: 10px;
   height: 400px;
   padding-top: 10px;
   padding-left: 20px;
}

/*#container1  img{
  width:80px;
  height: 188px;
}*/
#container-img-save{
  border:none;
}

@media(max-width:375px){
  .dragImages{
    width:100px;
    height: 100px;
  }
  #container1  img{
    width:95px;
    height: 170px;
  }
  #images{
    margin-left: 15px;
  }
}

@media(min-width:425px){
  #images{
    margin-left: 15px;
  }
  .dragImages{
    margin-top:10px;
    width:118px;
    height: 150px;
  }

  #container1  img{
    width: 115px;
    height: 180px;
  }
}

@media(min-width:765px){
  #container1{
    height: 450px;
  }
  .dragImages{
    width:200px;
    height: 160px;
    margin-left:10px;
  }
  h4,h5{
   font-size: 30px;
  }
  #container1  img{
    margin-top:15px;
    width:220px;
    height: 160px;
  }
  #images{
    margin-left: 24px;
  }
}

@media(min-width:990){
  #container1  img{
    width:220px;
    height: 180px;
    margin-left:2px;
    padding-left: 5px;
  }
  .dragImages{
    width:110px;
    height: 180px;
    margin-left:5px;
  }
}
